.section {
  &-heading {
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    width: 85%;
    h2, p {
      text-align: center;
      margin-top: 40px;
    }
    &::after {
      content: "";
      position: absolute;
      width: 80px;
      height: 3px;
      top: 45px;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-color: $PrimaryColor;
    }
  }
}