header {
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../../images/hero_picture.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  .overlay-mobile-menu {
    visibility: hidden;
    position: absolute;
    background: linear-gradient(black, transparent);
    height: 100vh;
    width: 100%;
    top: size(75);
    opacity: 0.5;
  }
  .menu-for-mobile {
    position: absolute;
    visibility: hidden;
    z-index: 2;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 25px;
    background-color: $White;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    a {
      color: $DarkGray;
      margin-top: 15px;
      &:last-child {
        margin-bottom: 15px;
      }
    }
  }
  nav {
    height: size(75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      margin-left: size(20);
      display: inline-block;
      width: size(200);
    }
    .nav-elements {
      display: inline-block;
      a {
        position: relative;
        margin-right: size(20);
        font-weight: 300;
        color: $White;
        font-size: $font-lg;
        &:hover {
          &::after {
            content: "";
            position: absolute;
            width: 105%;
            height: 3px;
            background-color: $PrimaryColor;
            top: 40px;
            left:0;
          }
        }
      }
    }
    .hamburger-menu {
      margin-right: 20px;
      span {
        display: block;
        width: 26px;
        height: 2px;
        background-color: $White;
        margin-bottom: 5px;
        transform-origin: 3px 1px;
        transition: all 300ms ease-in-out;
      }
    }
    .open {
      span {
        &:first-child {
          transform: rotate(45deg);
        }
        &:last-child {
          transform: rotate(-45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
      }
    }
    @media screen and (max-width: size(600)) {
      .hide-for-mobile {
        display: none;
      }
      img {
        width: size(150);
      }
    }
    @media screen and (min-width: size(600)) {
      .hide-for-desktop {
        display: none;
      }
    }
  }
  .hero {
    color: $White;
    width: 80%;
    margin: 0 auto;
    position: absolute;
    z-index: 0;
    top: 30%;
    left: 8%;
    @media screen and (min-width: 600px) {
      font-size: $font-lg;
      position: absolute;
      left: 15%;
    }
  }
}