@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  99% {
    visibility: hidden;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  99% {
    visibility: hidden;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out 1 forwards;
          animation: fade-in 300ms ease-in-out 1 forwards;
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out 1 forwards;
          animation: fade-out 300ms ease-in-out 1 forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  margin-top: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../../images/hero_picture.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../images/hero_picture.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header .overlay-mobile-menu {
  visibility: hidden;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
  background: linear-gradient(black, transparent);
  height: 100vh;
  width: 100%;
  top: 4.6875rem;
  opacity: 0.5;
}

header .menu-for-mobile {
  visibility: hidden;
}

header nav {
  height: 4.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav img {
  margin-left: 1.25rem;
  display: inline-block;
  width: 12.5rem;
}

header nav .nav-elements {
  display: inline-block;
}

header nav .nav-elements a {
  margin-right: 1.25rem;
  font-weight: 300;
  color: #FFF;
  font-size: 1.25rem;
}

header nav .hamburger-menu {
  margin-right: 20px;
}

header nav .hamburger-menu span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #FFF;
  margin-bottom: 5px;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

header nav .open span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header nav .open span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header nav .open span:nth-child(2) {
  opacity: 0;
}

@media screen and (max-width: 37.5rem) {
  header nav .hide-for-mobile {
    display: none;
  }
  header nav img {
    width: 9.375rem;
  }
}

@media screen and (min-width: 37.5rem) {
  header nav .hide-for-desktop {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */