@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  99% {
    visibility: hidden;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  99% {
    visibility: hidden;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out 1 forwards;
          animation: fade-in 300ms ease-in-out 1 forwards;
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out 1 forwards;
          animation: fade-out 300ms ease-in-out 1 forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  margin-top: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.btn {
  background-color: #E67E22;
  padding: 10px 15px;
  border: none;
  color: #FFF;
  border-radius: 25px;
}

.btn:hover {
  background-color: #CF6D17;
}

.btn-ghost {
  background-color: transparent;
  border: 1px solid #E67E22;
}

header {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../../images/hero_picture.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../images/hero_picture.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header .overlay-mobile-menu {
  visibility: hidden;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
  background: linear-gradient(black, transparent);
  height: 100vh;
  width: 100%;
  top: 4.6875rem;
  opacity: 0.5;
}

header .menu-for-mobile {
  position: absolute;
  visibility: hidden;
  z-index: 2;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 25px;
  background-color: #FFF;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

header .menu-for-mobile a {
  color: #2D314D;
  margin-top: 15px;
}

header .menu-for-mobile a:last-child {
  margin-bottom: 15px;
}

header nav {
  height: 4.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav img {
  margin-left: 1.25rem;
  display: inline-block;
  width: 12.5rem;
}

header nav .nav-elements {
  display: inline-block;
}

header nav .nav-elements a {
  position: relative;
  margin-right: 1.25rem;
  font-weight: 300;
  color: #FFF;
  font-size: 1.25rem;
}

header nav .nav-elements a:hover::after {
  content: "";
  position: absolute;
  width: 105%;
  height: 3px;
  background-color: #E67E22;
  top: 40px;
  left: 0;
}

header nav .hamburger-menu {
  margin-right: 20px;
}

header nav .hamburger-menu span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #FFF;
  margin-bottom: 5px;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

header nav .open span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header nav .open span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header nav .open span:nth-child(2) {
  opacity: 0;
}

@media screen and (max-width: 37.5rem) {
  header nav .hide-for-mobile {
    display: none;
  }
  header nav img {
    width: 9.375rem;
  }
}

@media screen and (min-width: 37.5rem) {
  header nav .hide-for-desktop {
    display: none;
  }
}

header .hero {
  color: #FFF;
  width: 80%;
  margin: 0 auto;
  position: absolute;
  z-index: 0;
  top: 30%;
  left: 8%;
}

@media screen and (min-width: 600px) {
  header .hero {
    font-size: 1.25rem;
    position: absolute;
    left: 15%;
  }
}

.section-heading {
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  width: 85%;
}

.section-heading h2 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
  font-weight: 300;
  font-size: 2rem;
}

.section-heading h2::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  top: var(--offset);
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #E67E22;
}

.section-heading p {
  margin-top: 50px;
  font-weight: 300;
  text-align: center;
  font-size: 1.5rem;
}

.section-columns {
  width: 85%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.section-columns-items {
  padding-right: 13px;
  padding-left: 13px;
  margin-bottom: 20px;
}

.section-columns-items .big-icon {
  color: #E67E22;
  font-size: 5rem;
  font-weight: normal;
}

.section-columns-items h3 {
  font-weight: 400;
}

.section-columns-items p {
  font-weight: 300;
  text-align: justify;
  font-size: 1.1rem;
}
/*# sourceMappingURL=style.css.map */